<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/main.css">
	<title>Dash</title>
</head>

<body>

	<div class="content">
		<h1> University of Surrey's Students and Societies </h1>
		<div class="dash_items">
			<a href="/societies">
				<section class="card">
					<h2>
						<%= societyCount %>
					</h2>
					<h3> Societies </h3>
				</section>
			</a>
			<a href="/students">
				<section class="card">
					<h2>
						<%= studentCount %>
					</h2>
					<h3> Students </h3>

				</section>
			</a>
		</div>
	</div>
</body>

</html>
